@model IEnumerable<ProgramaSRDAMVC.Models.EntradaDTO>

@{
    ViewData["Title"] = "HOME";
}
<div class="ml-lg-5">
<h1>Lista de entradas</h1>
<a href="@Url.Action("Adicionar")">Adicionar entrada</a>
<div class="table-responsive table-striped table-hover">
    <table class="table">
        <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Data
                    </th>
                    <th scope="col">
                        Hora
                    </th>
                    <th scope="col">
                        Comentário
                    </th>
                    <th scope="col">

                    </th>
                </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td  style="width: 5px;">
                    @item.Data.ToShortDateString()
                </td>
                <td style="width: 5px;">
                    @item.Hora
                </td>
                <td class="text-break">
                    @item.Comentario
                </td>
                <td style="text-align: right; width: 130px !important">
                    <a href="/Home/Excluir?id=@item.Id">Excluir</a> |
                    <a href="/Home/Editar?id=@item.Id">Editar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
</div>
